/* Login.css */
.login-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.login-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.input-field {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.login-button {
  width: 100%;
  padding: 10px;
  background-color: #007BFF;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
  text-align: center;
}

.success-message {
  color: green;
  text-align: center;
}

.forgot-password {
  text-align: center;
  margin-top: 10px;
}

.forgot-password-link {
  background: none;
  border: none;
  color: #007BFF;
  cursor: pointer;
  padding: 0;
  font-size: 1rem;
  text-decoration: underline;
}

.forgot-password-link:hover {
  color: #0056b3;
}

.signup-prompt {
  text-align: center;
  margin-top: 10px;
}

.signup-link {
  color: #007BFF;
  text-decoration: none;
}

.signup-link:hover {
  text-decoration: underline;
}

.admin-login-button {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.admin-login-button:hover {
  background-color: #218838;
}